
body {
    background-color: #b1b1b1;
    word-break: break-all;
}

/* Header  */
.navbar-static-top {
  margin-bottom: 0px;
}


.navbar-static-top > .navbar-header > a:hover {
	background-color: #800040;
    transition-duration: 0.4s; 
  	-webkit-transition-duration: 0.4s; /* Safari */
    color: white;
}

.outPutHighlight {
	font-size: 2em;
	color: #cb349d;
}


#jumbotronHeader {
	font-family: Verdana;
	font-size: 7em;
}



/*  Login  */
.loginBox {
	height: 250px;
	border: 1px solid #800040;
	padding: 5px; 
}


.loginBox:hover {
	height: 250px;
	border: 3px solid #800040;
	padding: 3px; 
}




#login1 {
	background-color: #f8a094;
}



#login2 {
	background-color: #ffffc1;
}



#login3 {
	background-color: #a8ffac;
}



#registerBox {
	background-color: #8cd8f4;
}


